.celdacolor{
    background-color: green;
    
}
.carton{
    z-index: 1;
    background-color: cornflowerblue;
    border: 1px solid black;
    height: 89px;
    width: 226px;
    margin: 0px 50px 0px 50px;
    text-align: center;
}
.cartonfila{
    display:flex;
    flex-direction: row;
    margin: 4px;
}
.cartonfilacelda{
    border: 1px solid black;
    margin: 1px;
    width: 20px;
    height: 20px;
}
.sectioncartones{
    z-index: 0;
    height: auto;
    width:100%;
    /* background-color: cornflowerblue; */
    display:flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 15px;
} 
.sectioncartones1{
    z-index: 0;
    height: auto;
    width:100%;
    background-color: rgba(0, 0, 0, 0.527);
    display:flex;
    margin-right: 100px;
    margin-left: 100px;
    justify-content:space-around;
    padding: 15px;
}
.imagen{
    position: absolute;
    z-index: -2;
}


body{
    
    background-image: url("./bingo_indautxu-345.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size:cover;    
    display:flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content:center;

    scroll-behavior: smooth;
    
} 

/* fieldset{
    background-color: rgba(0, 0, 0, 0.644);
} */

/* .cartones{
    display:flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content:center;

    width: 200px;
    height: auto;
    margin: 0px 200px 0px 20px;
} */

 
.juego{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    flex-direction: row;
    font-size: 18px;
    color: yellow;

    box-sizing: border-box;
    padding-left: 10px;

    background-color: rgba(54, 42, 165, 0.609);

    overflow:scroll;
    scroll-behavior: smooth;

    border: solid black;
    scroll-behavior: smooth;
    position:relative;
    margin-top: 20px;
    max-width:1200px;
    min-width:400px;
    height: 400px;
} 
.bola{
    z-index:5;
    display:flex;
    background-color:white;
    border: solid black 2;
    border-radius: 40px;
    position: absolute;
    color: black;
    font-size: 18;
  
    width:40px;
    height: 40px;
    justify-content:center;
    align-items: center;
}

.bola1 {
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.835);
    border: solid black 2;
    border-radius: 50%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18;
    width: 150px;
    height: 150px;
    margin-top: 155px;
    margin-right: 1500px;
    font-size: 7rem;
    border: solid 4px black;
}
