.celdacolor{
    background-color: green;
    /* color:orange; */
}
.carton{
    z-index: 1;
    background-color: cornflowerblue;
    border: 1px solid black;
    height: 89px;
    width: 226px;
    margin: 0px 50px 0px 50px;
    text-align: center;
}
.cartonfila{
    display:flex;
    flex-direction: row;
    margin: 4px;
}
.cartonfilacelda{
    border: 1px solid black;
    margin: 1px;
    width: 20px;
    height: 20px;
}
.sectioncartones{
    z-index: 0;
    height: auto;
    width:100%;
    /* background-color: cornflowerblue; */
    display:flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 15px;
} 
.sectioncartones1{
    z-index: 0;
    height: auto;
    width:100%;
    background-color: rgba(0, 0, 0, 0.527);
    display:flex;
    margin-right: 100px;
    margin-left: 100px;
    justify-content:space-around;
    padding: 15px;
}
.imagen{
    position: absolute;
    z-index: -2;
}


body{
    color: white;
    background-color: rgb(109, 114, 138);
    background-image: url("./fondo.jpg");
    background-repeat: no-repeat;
    background-size:cover;    
    display:flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content:center;

    scroll-behavior: smooth;
    
} 

/* fieldset{
    background-color: rgba(0, 0, 0, 0.644);
} */

/* .cartones{
    display:flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content:center;

    width: 200px;
    height: auto;
    margin: 0px 200px 0px 20px;
} */

 
.juego{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    flex-direction: row;
    font-size: 18px;
    color: yellow;

    box-sizing: border-box;
    padding-left: 10px;

    background-color: rgba(54, 42, 165, 0.609);

    overflow:scroll;
    scroll-behavior: smooth;

    border: solid black;
   
    position:relative;
    margin-top: 20px;
    width:auto;
    height: 400px;
} 
